/* main */
main{
	padding: 24px 0;
	/*border: 1px solid green;*/

	a {
        text-decoration: noen;
        color: #387eb8;
    }
    a:hover{
        text-decoration: underline;
    }
}

.contents-area {
    width: 70%;
	margin: 30px auto 30px;
	/*border: 1px solid green;*/
	padding: 0 48px;

    h2 {   // 各カテゴリのheading
        margin: 25px 0;
        font-size: 30px;
        font-weight: bold;
    }

    h5 {    // < ~~ > の部分
        margin: 15px 0;
        font-size: 17px;
    }

    p,li {
        margin: 15px 0 15px 15px;
        font-size: 16px;
    }

    hr {     // 区切りの部分
        width: 80%;
        margin: 50px auto;
        height: 3px;
        background: linear-gradient(to right, white, gray);
        border: none;
    } 

    .required-level {
        h2 {
            margin: 25px 0;
        }
        a{
            margin: 15px 0 15px 15px;
        }
    }

    .information-session {
        li{
            text-decoration: line-through;
        }
    }
}


.read-more-button {
	width: 80px;
	height: 19px;
	margin: 20px auto;
	/*text-align: center;*/
	border: 1px solid var(--colorDark);
    background-color: var(--colorDark);
	border-radius: 9999px;
	padding: 14px 21px;
	text-align: center;

	a {
		text-decoration: none;
        // background-color: var(--colorDark);
		color: white;
		font-size: 16px;		
	}
}

.read-more-button:hover {
    border: 1px solid var(--colorDark);
    background-color: #e9e5e5;
	a {
        text-decoration: none;
		color: var(--colorDark);
	}
}	

@media screen and (max-width:480px) {
    // 必要であれば実装
}