@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/*ここから実装*/
:root {
  --colorDark: black;
  /*トップ画面の色変化設定*/
  --colorLight: red;
  --colorMiddle: black;
  --navfontSize:clamp(15px,2vw,40px);
  --heading2fontSize:clamp(18px,4.5vw,30px);
  --contactText:clamp(12px,2.5vw,20px);
  --scaleSize:clamp(107vw,100vw,1.4);
}

body {
  font-family: "Space Mono", monospace;
}

/*----------スプラッシュの実装(svg)----------*/
.wrapper {
  display: none;
  /*スプラッシュの間はページを見せない*/
}

.sp-one {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: #141414;
  overflow: hidden;
}
.sp-one .wrapperOn {
  /*svgの親要素*/
  width: 90%;
  /*テキストの横幅*/
  margin: auto auto;
  transition: 0.3s;
}

#top-svg {
  /*svgのid*/
}
#top-svg #top-path {
  /*svgのパス*/
  fill: #fff;
  stroke: #ffffff;
  stroke-dasharray: 1800;
  opacity: 1;
  -webkit-animation: animate 3s cubic-bezier(0, 0.23, 1, 0.1);
          animation: animate 3s cubic-bezier(0, 0.23, 1, 0.1);
  transition: 0.3s;
}

@-webkit-keyframes animate {
  /*アニメーションの設定*/
  0% {
    opacity: 0;
    fill: none;
    stroke-dasharray: 1800;
  }
  40% {
    opacity: 0.07;
    fill: none;
    stroke-dasharray: 1800;
  }
  60% {
    fill: rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 1;
    fill: white;
    stroke-dashoffset: 0;
  }
  100% {
    fill: rgba(255, 255, 255, 0);
  }
}

@keyframes animate {
  /*アニメーションの設定*/
  0% {
    opacity: 0;
    fill: none;
    stroke-dasharray: 1800;
  }
  40% {
    opacity: 0.07;
    fill: none;
    stroke-dasharray: 1800;
  }
  60% {
    fill: rgba(255, 255, 255, 0);
  }
  90% {
    opacity: 1;
    fill: white;
    stroke-dashoffset: 0;
  }
  100% {
    fill: rgba(255, 255, 255, 0);
  }
}
/*----------header----------*/
.header-top {
  /*ナビの親要素*/
  z-index: 20;
  position: absolute;
  width: 100vw;
  height: min(15vw, 10vh);
  background-color: var(--colorDark);
  /*中央揃い*/
  display: flex;
  justify-content: center;
  position: fixed;
}
.header-top .menu-container #menu-area #menu-ul {
  margin-top: 1.5vh;
  overflow: hidden;
}
.header-top .menu-container #menu-area #menu-ul .current-page {
  border: 1px solid #c4c7c4;
}
.header-top .menu-container #menu-area #menu-ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh 1.5vw;
  float: left;
}
.header-top .menu-container #menu-area #menu-ul li a {
  color: #f1ecf5;
  font-size: var(--navfontSize);
  padding: 10px;
}
.header-top .menu-container #menu-area #menu-ul li .other-page:hover {
  color: #6b94b6;
}
.header-top .menu-container #media-menu-area {
  display: none;
}

/* ---------- トップイメージのアニメーション ---------- */
.top-image-place {
  padding-top: 10vh;
  /*トップの背景が二色になるように設定*/
  background: linear-gradient(to bottom, var(--colorLight) 50%, var(--colorDark) 50%);
  /*background-attachment: fixed;*/
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 50vw;
  color: var(--colorDark);
  /*background-attachment: fixed;*/
}
.top-image-place .top-area {
  max-width: 500px;
  max-height: 500px;
  width: 60vw;
  height: 60vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-image-place .top-area #opening {
  visibility: hidden;
  position: absolute;
}
.top-image-place .top-area #image-label {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  transform-origin: center center;
  background: linear-gradient(to bottom, var(--colorDark) 50%, var(--colorLight) 50%);
  background: var(--colorDark);
  transition: 1s;
  cursor: pointer;
  -webkit-animation: ani-label 1s linear forwards;
          animation: ani-label 1s linear forwards;
  transform: rotateZ(-25deg);
}

@-webkit-keyframes ani-label {
  0% {
    margin-top: calc(-100vh + 50px);
    background: var(--colorDark);
  }
  90% {
    background: var(--colorDark);
  }
  100% {
    background: linear-gradient(to bottom, var(--colorDark) 50%, var(--colorLight) 50%);
  }
}

@keyframes ani-label {
  0% {
    margin-top: calc(-100vh + 50px);
    background: var(--colorDark);
  }
  90% {
    background: var(--colorDark);
  }
  100% {
    background: linear-gradient(to bottom, var(--colorDark) 50%, var(--colorLight) 50%);
  }
}
#image-label:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  -webkit-animation: pulse 3s linear 1s infinite;
          animation: pulse 3s linear 1s infinite;
  background: inherit;
}

@-webkit-keyframes pulse {
  80% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes pulse {
  80% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
#header-text {
  /*border: 1px solid green;*/
  z-index: 2;
  text-align: center;
  transform: rotateZ(-25deg);
  visibility: hidden;
  -webkit-animation: visi-header-text 1s linear 1s forwards;
          animation: visi-header-text 1s linear 1s forwards;
}
#header-text h1 {
  color: white;
  font-size: var(--heading2fontSize);
  font-weight: 900;
  margin: 5px;
}

@-webkit-keyframes visi-header-text {
  100% {
    visibility: visible;
  }
}

@keyframes visi-header-text {
  100% {
    visibility: visible;
  }
}
#spacer {
  height: 30px;
}

#contact {
  pointer-events: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: right;
}
#contact a {
  /*   font-weight:900; */
  color: #1d1c1c;
  /*inherit*/
  font-size: var(--contactText);
  text-decoration: none;
  /*text-shadow:0 5px 5px inherit;*/
}
#contact a:hover {
  text-decoration: underline;
}

#opening:checked + #image-label {
  width: 50%;
  height: 50%;
  transform: rotateZ(515deg);
}

#opening:checked ~ #header-text {
  visibility: hidden;
  -webkit-animation: header-text 1s linear 1s forwards;
          animation: header-text 1s linear 1s forwards;
}

@-webkit-keyframes header-text {
  100% {
    opacity: 1;
  }
}

@keyframes header-text {
  100% {
    opacity: 1;
  }
}
/* ---------- main ---------- */
main {
  padding: 24px 0;
  /*border: 1px solid green;*/
  background: var(--colorDark);
}

/* カラム１ */
.layout-grid-column-one {
  width: 80vw;
  margin: 30px auto 30px;
  /*border: 1px solid green;*/
}
.layout-grid-column-one h2 {
  margin: 15px 0;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.layout-grid-column-one .column-area-one {
  /*width: 90%;   marginpadding分減らす*/
  margin: 0 auto;
  /*border: 1px solid green;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.layout-grid-column-one .column-area-one .column-one {
  /*border: 1px solid green;*/
  color: #555555;
  width: 25%;
  height: 425px;
  min-width: 210px;
  margin: 10px;
  padding: 0 13px;
  background-color: CORNSILK;
  float: left;
  text-align: center;
}
.layout-grid-column-one .column-area-one .column-one figure {
  margin: 60px 30px 30px 30px;
}
.layout-grid-column-one .column-area-one .column-one h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
}
.layout-grid-column-one .column-area-one .column-one p {
  font-size: 16px;
}

.layout-grid-column-two {
  /*border: 1px solid green;*/
  width: 80vw;
  margin: 30px auto 30px;
}
.layout-grid-column-two h2 {
  margin: 15px 0;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.layout-grid-column-two .column-area-two {
  /*width: 90%;   marginpadding分減らす*/
  margin: 0 auto;
  /*border: 1px solid green;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.layout-grid-column-two .column-area-two .column-two {
  /*border: 1px solid green;*/
  color: #555555;
  width: 18%;
  height: 407px;
  min-width: 210px;
  margin: 10px;
  padding: 8px 21px;
  background-color: beige;
  float: left;
  text-align: center;
}
.layout-grid-column-two .column-area-two .column-two .culumn-number {
  margin: 60px;
  font-size: 60px;
  color: #abb8c3;
}
.layout-grid-column-two .column-area-two .column-two hr {
  height: 0.5px;
  background-color: #545d3b;
  border: none;
}
.layout-grid-column-two .column-area-two .column-two h3 {
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
}
.layout-grid-column-two .column-area-two .column-two p {
  font-size: 16px;
}

.read-more-button {
  width: 130px;
  height: 19px;
  margin: 20px auto;
  /*text-align: center;*/
  border: 1px solid #f0ebeb;
  border-radius: 9999px;
  padding: 14px 21px;
  text-align: center;
}
.read-more-button a {
  text-decoration: none;
  color: #f0ebeb;
  font-size: 16px;
}

.read-more-button:hover {
  background-color: #e9e5e5;
}
.read-more-button:hover a {
  color: #2e2d2d;
}

/* ---------- footer ---------- */
footer {
  height: 248px;
  padding: 64px 0 32px;
  background-color: #EEEEEE;
}
footer .access-area {
  padding: 0 10vw;
}

.snsAccessPlace {
  overflow: hidden;
}
.snsAccessPlace h2 {
  /*border: 1px solid green;*/
  margin-bottom: 16px;
  font-size: 18px;
}
.snsAccessPlace li {
  /*border: 1px solid green;*/
  margin: 8px 10px 20px;
  float: left;
}
.snsAccessPlace li a #Insta-Logo {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  fill: #6b94b6;
}
.snsAccessPlace li a #Insta-Logo:hover {
  fill: #333333;
}
.snsAccessPlace li a #Twitter-Logo {
  width: 80px;
  height: 80px;
}
.snsAccessPlace li a #Twitter-Logo .cls-1 {
  fill: none;
}
.snsAccessPlace li a #Twitter-Logo .twitter-path {
  fill: #6b94b6;
}
.snsAccessPlace li a #Twitter-Logo .twitter-path:hover {
  fill: #333333;
}

.mailAccessPlace {
  /*メールアドレス欄*/
  /*border: 1px solid green;*/
}
.mailAccessPlace h2 {
  margin: 10px 0;
  /*border: 1px solid green;*/
  font-size: 18px;
  color: #555555;
}
.mailAccessPlace a {
  text-decoration: none;
  color: #6b94b6;
}
.mailAccessPlace a:hover {
  color: #333333;
}

/* ----------スマホ画面・ipadの画面設定---------- */
@media screen and (max-width: 760px) {
  header, main, footer {
    width: 100%;
    margin: 0 auto;
  }

  #image-label {
    perspective: 50vw;
    transform: rotateZ(0deg);
  }

  .header-top {
    /*ナビの親要素*/
  }
  .header-top .menu-container #menu-area {
    display: none;
  }
  .header-top .menu-container #media-menu-area {
    display: block;
    padding-top: min(2.5vh, 3vw);
    text-align: center;
  }
  .header-top .menu-container #media-menu-area label {
    cursor: pointer;
  }
  .header-top .menu-container #media-menu-area input {
    visibility: hidden;
    position: absolute;
  }
  .header-top .menu-container #media-menu-area #menu-icon {
    height: min(5vh, 10vw);
    width: min(5vh, 10vw);
    fill: #EEEEEE;
  }
  .header-top .menu-container #media-menu-area #media-menu-ul {
    margin-top: min(1.1vh, 1.5vw);
  }
  .header-top .menu-container #media-menu-area #media-menu-ul li {
    width: 100vw;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s;
    visibility: hidden;
  }
  .header-top .menu-container #media-menu-area #media-menu-ul li a {
    color: #ffffff;
    font-size: var(--heading2fontSize);
  }
  .header-top .menu-container #media-menu-area #menu-bar:checked ~ #media-menu-ul li {
    width: 100vw;
    background-color: var(--colorMiddle) !important;
    height: 5vh;
    padding-top: 2vh;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    text-align: center;
  }
  .header-top .menu-container #media-menu-area #menu-bar:checked ~ #media-menu-ul li a {
    color: #ffffff;
    font-size: var(--heading2fontSize);
  }
}/*# sourceMappingURL=stylesheet.css.map */